
	</div><!-- #content -->

<div style="float:left;width=50%;overflow:hidden">
<h5>{{.PageLeftLink}}Older posts</a></h5>
</div>
<div style="overflow:hidden;text-align:right">
<h5>{{.PageRightLink}}Newer posts</a></h5>
</div>

	<footer id="colophon" class="site-footer" role="contentinfo">
		<div class="site-info">
			Gravit Theme powered by PageBase - derived from a Wordpress theme
		</div><!-- .site-info -->
	</footer><!-- #colophon -->
</div><!-- #page -->


<!-- footer -->

</body>
</html>
