<div class="site-info">
	<a href="/grid/a">A</a>
	<a href="/grid/b">B</a>
	<a href="/grid/c">C</a>
	<a href="/grid/d">D</a>
	<a href="/grid/e">E</a>
	<a href="/grid/f">F</a>
	<a href="/grid/g">G</a>
	<a href="/grid/h">H</a>
	<a href="/grid/i">I</a>
	<a href="/grid/j">J</a>
	<a href="/grid/k">K</a>
	<a href="/grid/l">L</a>
	<a href="/grid/m">M</a>
	<a href="/grid/n">N</a>
	<a href="/grid/o">O</a>
	<a href="/grid/p">P</a>
	<a href="/grid/q">Q</a>
	<a href="/grid/r">R</a>
	<a href="/grid/s">S</a>
	<a href="/grid/t">T</a>
	<a href="/grid/u">U</a>
	<a href="/grid/v">V</a>
	<a href="/grid/w">W</a>
	<a href="/grid/x">X</a>
	<a href="/grid/y">Y</a>
	<a href="/grid/z">Z</a>
</div>
<div id="grid-container" style="margin: auto;">
{{range .}}
	<div class="grid-entry" style="width:25%;height:300px;float:left;margin:10px 10px 10px 10px;">
		<div style="height:80%;">
			{{.Body}}
		</div>
		<div>
			<h3 class="entry-content">
				<a href="/archive/{{.Permalink}}" rel="bookmark">{{.Title}}</a>
			</h3>
		</div>
	</div><!-- .entry-content -->

{{end}}
</div>