<script type="text/javascript" src="/admin/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
tinymce.init({
    selector: "textarea",
    plugins: [
        "advlist autolink lists link image charmap print preview anchor",
        "searchreplace visualblocks code fullscreen",
        "insertdatetime media table contextmenu paste jbimages"
    ],
    toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image jbimages"
});

</script>

        <div class="col-sm-10 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <div class="row placeholders">
            <div class="col-xs-6 col-sm-8 placeholder">
				<form method="post" action="/admin/postsave">
					<input type="hidden" type=text name="id" value={{ .Id }}>
					
					<div class="panel panel-default">

						<div class="panel-heading">
							Title:<input type="text" name="title" value="{{.Title}}"></input>
							Private:<input type="checkbox" name="private" value="private" {{.Private}}></input>
						</div>
						<div class="panel-body">					
							<div>
    							<textarea name="content" style="width:100%" rows="25" cols="160">{{.Body}}</textarea>
								<input type="submit" value="Save changes"></input>	
								<input type="hidden" name="update" value="false">
							</div>
						</div>
						
					</div>
			</div>
			
            <div class="col-xs-6 col-sm-2 placeholder">
				<div class="panel panel-default">
					<div class="panel-heading">Categories:</div>
					<div class="panel-body">
				{{ range $i, $t := index .ExtData "Cats" }}
					{{ if .State }}
						<div id="pl-row-elem"><input name="cat" type=checkbox value="{{ .Id }}" checked>{{ .Value }}</input></div>
					{{ else }}
						<div id="pl-row-elem"><input name="cat" type=checkbox value="{{ .Id }}">{{ .Value }}</input></div>
					{{ end }}
				{{ end }}
					</div>
				</div>


				<div class="panel panel-default">
					<div class="panel-heading">Tags:</div>
					  <div class="panel-body">
						<input type="text" name="tags" size=15 value="{{ range .Tags }}{{ . }} {{ end }}"></input>	
					  </div>
					</div>
				</div>
			
		  </div>
		</div>
		
	</form>