        <div class="col-sm-10 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">All posts</h1>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-8 placeholder">

          		<div class="table-responsive">
            	  <table class="table table-striped">
              		<thead>
                	<tr>
                  		<th>Title</th>
                  		<th>Posted on:</th>
                  		<th>Private:</th>
                  		<th>Tags</th>
                  	  	<th>Categories</th>
                	</tr>
              		</thead>
              	  	<tbody>
{{range .}}
{{ if .Ext }}
{{else}}
					<tr>
						<th><a href="/admin/postedit?id={{.Id}}">{{.Title}}</a></th>
    					<th>{{.PostedOn}}</th>
    					<th>{{.Private }}</th>
   						<th>{{range .Tags}} {{.}} {{end}}</th>
   						<th>{{range .Categories}} {{.}} {{end}}</th>
					</tr>			
{{end}}
{{end}}
              		</tbody>
            	  </table>
          		</div>

			</div>

{{range .}}
{{ if .Ext  }}


            <div class="col-xs-6 col-sm-3 placeholder" id="search">
			<div class="panel panel-default">
			<div class="panel-body">
				<div>
					<form method="get" action="/admin/postlist">
						<div>Search text:</div>
						<div><input type="text" name="keyword_filter" width="30"></input></div>
						<div><input type="submit" value="Keyword search"></div>
					</form>
				</div>	

				<div>
					<form method="get" action="/admin/postlist">
						<div>Posted on:</div>
            			<div><input type="month" name="date_filter" width="30"></input></div>
            			<div><input type="submit" value="Date search"></div>
        			</form>
				</div>

				<div>
					<form method="get" action="/admin/postlist">
						<div>Tagged with:</div>
						<div>
							<select name="tag_filter">
{{ range $i, $t := index .ExtData "Tags" }}
								<option value={{ .Id }}>{{ .Value }}</option>
{{ end }}
							</select>
						</div>
            			<div><input type="submit" value="Tag search"></div>
					</form>
				</div>
	
				<div>
					<form method="get" action="/admin/postlist">
						<div>Posted in Category:</div>
						<div>
							<select name="category_filter">
{{ range $i, $t := index .ExtData "Cats" }}
								<option value={{ .Id }}>{{ .Value }}</option>
{{ end }}
							</select>
						</div>
            			<div><input type="submit" value="Category search"></div>
					</form>
				</div>
	
			</div>
{{end}}

{{end}}
		  </div>
		  
	  	</div>
  		</div>

