<div class="sidebar">
	<div id="text-2" class="widget_box widget_text">
		<h3 class="side_title">About</h3>
		<div class="textwidget">
		Find work that truly matters to you and your life will change. 
		Forget about your traditional recruitment and searching for job. 
		Do what you really love.
		</div>
	</div>

	<div id="search-2" class="widget_box widget_search">
		<h3 class="side_title">Search</h3>
		<form role="search" method="get" class="search-form" action="">
			<label>
			<span class="screen-reader-text">Search for:</span>
			<input type="text" class="search-field" placeholder="Search" value="" name="s" />
			<input type="image" src="/images/search-icon.jpg">
			</label>
		</form>
	</div>

	<div id="recent-posts-2" class="widget_box widget_recent_entries">
		<h3 class="side_title">Recent Posts</h3>
		<ul>
		<li>
		    <a href="https://dessign.net/problogg/fashion-and-photography/">Fashion and Photography</a>
		</li>
		<li>
		    <a href="https://dessign.net/problogg/modern-photography/">Modern Photography</a>
		</li>
		</ul>
	</div>

	<div id="archives-2" class="widget_box widget_archive">
		<h3 class="side_title">Archives</h3>
		<ul>
		<li><a href='https://dessign.net/problogg/2015/07/'>July 2015</a></li>
		</ul>
	</div>

	<div id="tag_cloud-2" class="widget_box widget_tag_cloud">
	    <h3 class="side_title">Tag Cloud</h3>
	    <div class="tagcloud">
	    {{range .Tags}}
		<a href="/" class="tag-cloud-link tag-link-15 tag-link-position-1" style="font-size: 8pt;" aria-label="art design (1 item)">{{.}}</a>
		{{end}}
	    </div>
	</div>

	<div id="categories-2" class="widget_box widget_categories">
		<h3 class="side_title">Categories</h3>
		<ul>
		{{range .Categories}}
		<li class="cat-item cat-item-6"><a href="/" >{{.}}</a>
		</li>
		{{end}}
		</ul>
	</div>

	<div class="clear"></div>

</div>

</div> <!-- for container div -->
</div> <!-- for content div -->

<footer id="foot">
	<div class="main-foot">
		<div class="container">
			<div class="foot-col">
			</div>
			<div class="foot-col">
			</div>
		</div>					
		<div class="clear"></div>
		</div>
	</div>
	<div class="bottom-foot">
		<div class="container">
			<p class="credits">Copyright 2016 ProBlogg theme by Dessign Themes, LCC -  Powered by PageBase</p>
		</div>
	</div>
</footer>
<script type='text/javascript' src='/js/wp-embed.min.js?ver=5.0.3'></script>
</body>
</html>